extend ./components/global/_global.pug
block head
    +style-head("../css/style.css")
    +style-head-responsive("../css/tablet.css", "1024")
    +style-head-responsive("../css/desktop.css", "1280")
    +titles("Figuras geométricas")
block main
    main.main
        section.main__figure-selector-container
        

