h1 {
    font-size: 2.6rem;
}

p {
    font-size: 1.4rem;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: #FAF8F7;
}

img,
svg {
    width: 100%;
}

.header {
    position: relative;
    width: 100%;
}

.header__logo-title-container {
    width: 100%;
    height: 12.5rem;
    -webkit-padding-before: 2rem;
            padding-block-start: 2rem;
    background: linear-gradient(78.85deg, #F7931A 5.81%, #201E1C 100.08%);
}

.header__logo-title {
    gap: 1.2rem;
    width: 100%;
    height: 7.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__logo {
    width: 6.846rem;
    height: 7.1rem;
}

.header__title {
    color: #FFFFFF;
}

.header__subtitle {
    position: absolute;
    top: calc(100% - 2rem);
    left: calc(50% - 17.25rem);
    width: 34.5rem;
    padding: 1.2rem;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 0.8rem;
    background-color: #FAF8F7;
    -webkit-box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
            box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.main__figure-selector-container {
    width: 100%;
    height: 27.5rem;
    padding: 5.2rem 1.2rem;
}

.main__box-figures-label {
    position: relative;
}

.main__box-figures-input {
    position: absolute;
    z-index: 1;
    width: 10.4rem;
    height: 10.9rem;
    opacity: 0;
}

.main__figure-selector {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, 10.4rem);
    -ms-grid-rows: 10.9rem;
    grid-template-rows: 10.9rem;
    gap: 1.2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.main__box-figures-container {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    gap: 1.6rem;
    padding: 1.2rem 0;
    border: 0.1rem solid #BABABA;
    border-radius: 0.8rem;
    -webkit-box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
            box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.main__box-figures-input:checked + .main__box-figures-container {
    color: #FFFFFF;
    border-color: #F7931A;
    background-color: #F7931A;
}

.main__box-figures-input:checked + .main__box-figures-container .box-figures__image-white {
    opacity: 1;
}

.box-figures__figure-single {
    position: relative;
    width: 4.8rem;
}

.box-figures__image-white {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
}