extend ./components/global/_global.pug
block head
    +style-head("../css/style.css")
    //- +style-head-responsive("homepage/desktop.css", "800")
    +titles("Figuras geométricas")
block main
    main.main
        section.main__figure-selector-container
            .main__figure-selector
                +selection-charts("square", "Cuadrado", "forLabel")
                +selection-charts("triangle", "Triangulo", "forLabel")
                +selection-charts("circle", "Circulo", "forLabel")
                +selection-charts("rectangle", "Rectangulo", "forLabel")
                +selection-charts("parallelogram", "Paralelogramo", "forLabel")
                +selection-charts("diamond", "Rombo", "forLabel")
                +selection-charts("trapeze", "Trapecio", "forLabel")
                +selection-charts("hexagon", "Polígono", "forLabel")
        section.main__insert-dimensions
            .insert-dimensions__cube
                +figure-img("", "Cube icon")
            h2.insert-dimensions__title Medidas
            
