extend ./components/global/_global.pug
block head
    +style-head("../css/style.css")
    //- +style-head-responsive("homepage/desktop.css", "800")
    +titles("Figuras geométricas")
block main
    main.main