extend ./components/global/_global.pug
block head
    +style-head("../css/style.css")
    //- +style-head-responsive("homepage/desktop.css", "800")
    +titles("Figuras geométricas")
block main
    main.main
        section.main__figure-selector-container
            .main__figure-selector
                +selection-charts("1816Hh5MXwXRgIlpux6tV3Gh6TB3zofIX", "1ZhsLHLfJt9bpsuYbKVQ_eRk-P8VSmHoI", "Square figure", "Cuadrado","selectSquareBox", "selectSquareImg")
                +selection-charts("1816Hh5MXwXRgIlpux6tV3Gh6TB3zofIX", "1ZhsLHLfJt9bpsuYbKVQ_eRk-P8VSmHoI", "Square figure", "Cuadrado","for", "id")
                +selection-charts("1816Hh5MXwXRgIlpux6tV3Gh6TB3zofIX", "1ZhsLHLfJt9bpsuYbKVQ_eRk-P8VSmHoI", "Square figure", "Cuadrado","for", "id")
                +selection-charts("1816Hh5MXwXRgIlpux6tV3Gh6TB3zofIX", "1ZhsLHLfJt9bpsuYbKVQ_eRk-P8VSmHoI", "Square figure", "Cuadrado","for", "id")
                +selection-charts("1816Hh5MXwXRgIlpux6tV3Gh6TB3zofIX", "1ZhsLHLfJt9bpsuYbKVQ_eRk-P8VSmHoI", "Square figure", "Cuadrado","for", "id")
                +selection-charts("1816Hh5MXwXRgIlpux6tV3Gh6TB3zofIX", "1ZhsLHLfJt9bpsuYbKVQ_eRk-P8VSmHoI", "Square figure", "Cuadrado","for", "id")
                +selection-charts("1816Hh5MXwXRgIlpux6tV3Gh6TB3zofIX", "1ZhsLHLfJt9bpsuYbKVQ_eRk-P8VSmHoI", "Square figure", "Cuadrado","for", "id")