$bitcoin-orange: #F7931A;
$soft-orange: #FFE9D5;
$secondary-blue:  #1A9AF7;
$soft-blue:  #E7F5FF;
$warm-black: #201E1C;
$warm-black-plus-1: #282623;
$just-black: #000000;
$warm-gray: #BABABA;
$gray: #757575;
$gray-plus-1: #808080;
$gray-plus-2: #494949;
$gray-plus-3: #333333;
$off-white: #FAF8F7;
$just-white: #FFFFFF;

$boxes-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
