.boxes-data-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 24rem);
    grid-auto-rows: 10.2rem;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.boxes-data-input{
    padding: 1.2rem 1.2rem 1.6rem;
    border-radius: $border-radius-boxes;
}

.boxes-data-input--white {
    background-color: $just-white;
    box-shadow: $boxes-shadow;
}

.boxes-data-input__form {
    padding-block-start: 1.2rem;
}

.boxes-data-input__input {
    font-weight: 500;
    font-size: $medium;
    text-align: center;
    // color: $just-white;
    width: 21.6rem;
    height: 3.6rem;
    padding: 0 1.2rem;
    border-radius: $border-radius-boxes;
    // background-color: $gray-plus-3;
    // box-shadow: $boxes-shadow2;

    &::placeholder {
        color: rgba($warm-gray, 0.4);
    }
}

.boxes-data-input__input--orange {
    border: 0.1rem solid $bitcoin-orange;
    background-color: $off-white;
}

.boxes-data-input-title {
    text-align: start;
}

.hidden {
    display: none;
}

.visible {
    display: grid;
}















.results-boxes-container {
    @extend .boxes-data-container;
}

.result-box {
    @extend .boxes-data-input--white;
    background-color: $just-white;
    box-shadow: $boxes-shadow;
}

.boxes-data-input--white-title--black {
    color: $warm-black;
}

.insert-dimensions__results {
    @extend .boxes-data-input__input;
    color: rgba($warm-gray, 0.4);
    margin-block-start: 1.2rem;
    border: 0.1rem solid $bitcoin-orange;
    background-color: $off-white;
    box-shadow: none;
    @include all-center-flex;
}

.insert-dimensions__results--black {
    color: $warm-black;
}